NODE_ENV=development
PORT=3010
DATABASE_URI=mongodb+srv://username:password@yourcluster.ldpmg5a.mongodb.net/yourProject?appName=yourProject
GOOGLE_CLIENT_ID=your google key
GOOGLE_CLIENT_SECRET=your google client secret
ACCESS_TOKEN_SECRET=your secret
REFRESH_TOKEN_SECRET=your secret
DIRECTIONS_KEY=openrouteservice key